# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# React
frontend/node_modules/
frontend/dist/
frontend/.env

# Temporary media
backend/temp/
*.webm
*.wav
*.mp3
*.mp4

# Editor
.vscode/